<h2 mat-dialog-title>{{mensaje}}</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error matErrorMessages></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion">
        <mat-error matErrorMessages></mat-error>
    </mat-form-field>
</form>

<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Aceptar</button>

</mat-dialog-actions>